.container {
    margin: 50px;
    width: 100%;             /* Largura da div */
    max-width: 1200px;     /* Largura máxima */
    margin: 3 auto;        /* Centraliza a div horizontalmente */
    padding: 30px;         /* Espaço interno */
    background-color: #07d3f2; /* Cor de fundo */
    border: 1px solid #696969; /* Borda */
    border-radius: 8px;    /* Bordas arredondadas */
    box-shadow: 5 5px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    box-shadow: 20px 20px 20px #3a3a3a56;

}

h4{
    align-content: center;
    margin: 5 auto;
    margin: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 2px solid #000000;
    background-color: #07d3f2; /* Cor de fundo */
    padding: 20px;
    display: grid;
}

.row{
    border-radius: 50px;
}

.btn-concluir {
    background-color: #07d3f2; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.btn-concluir:hover {
    background-color: #07d3f2; /* Verde mais escuro ao passar o mouse */
}
